@font-face {
  font-family: "iconfont"; /* Project id 3560746 */
  src: url('iconfont.woff2?t=1659347232095') format('woff2'),
       url('iconfont.woff?t=1659347232095') format('woff'),
       url('iconfont.ttf?t=1659347232095') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bottom:before {
  content: "\e666";
}

.icon-fabulous:before {
  content: "\e66f";
}

